Email Automation.json
{
  "name": "Email Automation",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "8b21f31a-3921-4eb1-8fdf-ede074c650ed",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "OnQXrkfdOthwiyso",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $json.snippet }}",
        "categories": {
          "categories": [
            {
              "category": "order ",
              "description": "when any email comes with the word order we need to seperate it "
            },
            {
              "category": "inquiry",
              "description": "when any email comes with the inquiry or asking something we need to seperate it "
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        208,
        0
      ],
      "id": "76abb82e-0527-47a9-9516-dba1b8e7fae4",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "model": "deepseek-v3.2",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmOllama",
      "typeVersion": 1,
      "position": [
        208,
        208
      ],
      "id": "f745d090-a76e-46f3-8130-c6701c3fa262",
      "name": "Ollama Model",
      "credentials": {
        "ollamaApi": {
          "id": "uU6jWdfFer9fPiLl",
          "name": "Ollama account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $json.message.content }}",
        "message": "={{ $json.message.thinking }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1056,
        -96
      ],
      "id": "7ae46373-9384-4be4-92dd-9c9debecefff",
      "name": "Create a draft",
      "webhookId": "3d897e98-f056-4094-a3af-285dbac976d2",
      "credentials": {
        "gmailOAuth2": {
          "id": "OnQXrkfdOthwiyso",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "deepseek-v3.2",
          "mode": "list",
          "cachedResultName": "deepseek-v3.2"
        },
        "messages": {
          "values": [
            {
              "content": "=\"Act as an expert copywriter and my personal gmail assistant. I will provide an email below; your task is to draft a response that is [Insert Tone: e.g., concise and professional / warm and collaborative].\n\n\n{{ $('Gmail Trigger').item.json.snippet }}\n\n"
            }
          ]
        },
        "simplify": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.ollama",
      "typeVersion": 1,
      "position": [
        656,
        -192
      ],
      "id": "dd0c4464-0e97-4c64-bb41-64774948320a",
      "name": "order - ai",
      "credentials": {
        "ollamaApi": {
          "id": "uU6jWdfFer9fPiLl",
          "name": "Ollama account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $json.message.role }}",
        "message": "={{ $json.message.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1056,
        128
      ],
      "id": "e7c1754e-e81c-43f4-a779-38436f3ac0ac",
      "name": "Create a draft1",
      "webhookId": "3d897e98-f056-4094-a3af-285dbac976d2",
      "credentials": {
        "gmailOAuth2": {
          "id": "OnQXrkfdOthwiyso",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "deepseek-v3.2",
          "mode": "list",
          "cachedResultName": "deepseek-v3.2"
        },
        "messages": {
          "values": [
            {
              "content": "=\"Act as an expert copywriter and my personal gmail assistant. I will provide an email below; your task is to draft a response that is [Insert Tone: e.g., concise and professional / warm and collaborative] and it shows about the inquiry and solves the problem releated.\ngive proper subject then give a body \n\n\n{{ $('Gmail Trigger').item.json.snippet }}\n"
            }
          ]
        },
        "simplify": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.ollama",
      "typeVersion": 1,
      "position": [
        656,
        128
      ],
      "id": "2c6733b0-f94c-406a-aa3b-dabf8a7301b1",
      "name": "inquiry - ai",
      "credentials": {
        "ollamaApi": {
          "id": "uU6jWdfFer9fPiLl",
          "name": "Ollama account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "order - ai",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "inquiry - ai",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "order - ai": {
      "main": [
        [
          {
            "node": "Create a draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "inquiry - ai": {
      "main": [
        [
          {
            "node": "Create a draft1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "be81dd77-af2c-4143-8344-f00e1e90651c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "690fcbe3bca7b4a8f6b4c24acbc7e7dcb5be0fe4ab5a11b2401eaf2d2eea633c"
  },
  "id": "yoUQJEhixSHFLnxN",
  "tags": []
}